/*========Common styles=============*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
}

.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--SLATE, #434455);
  background-color: #ffffff;
}
/* Commponents */
.section-title {
  margin-bottom: 72px;
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  /* Header 2 */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section {
  padding: 120px 0;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*=========Header styles=======*/
.page-header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
}
.header-container {
  align-items: center;
  display: flex;
}
.page-navigation {
  align-items: center;
  display: flex;
}
.menu {
  display: flex;
  gap: 40px;
}
.contact {
  display: flex;
  gap: 40px;
}
.logotype {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS, #4d5ae5);
  margin-right: 76px;
}
.logo-sp {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--NAVY-BLUE, #2e2f42);
}
.menu-link {
  padding: 24px 0;
  display: block;
  /* Body Medium */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE, #2e2f42);
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
address {
  margin-left: auto;
  font-style: normal;
}
.contact-link {
  color: var(--SLATE, #434455);
  /* Body */
  font-size: 16px;

  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/*=========Hero SECTION======*/

.hero-section {
  background-color: #2e2f42;
  padding: 188px 0;
}
.main-title {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  text-align: center;
  background: var(--NAVY-BLUE, #2e2f42);

  /* Header 1 */
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  /* 107.143% */
  letter-spacing: 0.02em;
  color: var(--WHITE, #ffffff);
}
.order-service-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  color: var(--WHITE, #ffffff);
  /* Button Text */
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  background-color: #4d5ae5;
}
.order-service-button:hover,
.order-service-button:focus {
  color: var(--WHITE, #ffffff);
  background-color: #404bbf;
}

.list-advantages {
  display: flex;
  gap: 24px;
}
.advantage-item {
  width: calc((100% - 72px) / 3);
}
.advantages-title {
  margin-bottom: 8px;
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  /* 120% */
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE, #2e2f42);
}
.advantage-text {
  /* Body */
  font-size: 16px;

  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
}
.page-team {
  background-color: #f4f4fd;
}

.list-team {
  display: flex;
  gap: 24px;
}
.item-team {
  border-radius: 0px 0px 4px 4px; ;
  background-color: #ffffff;
  width: calc((100% - 24px * 3) / 4);
}
.team-text-wrap {
  padding: 32px 0;
}
.name-team {
  margin-bottom: 8px;
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  /* 120% */
  letter-spacing: 0.02em;
}
.position-team {
  color: var(--SLATE, #434455);
  text-align: center;
  /* Body */
  font-size: 16px;

  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.item-portfolio {
  width: calc((100% - 24px * 2) / 3);
}
.portfolio-text-wrap {
  padding: 32px 16px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-top: none;
}
.project-name {
  margin-bottom: 8px;
  color: var(--NAVY-BLUE, #2e2f42);
  /* Header 3 */

  font-size: 20px;

  font-weight: 500;
  line-height: 24px;
  /* 120% */
  letter-spacing: 0.4px;
}
.project-description {
  /* Body */
  font-size: 16px;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
}

/*=====Stylesheet Footer=======*/
.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.logo-footer {
  margin-bottom: 16px;
  display: inline-block;
}

.logo_type {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--CLOUD, #f4f4fd);
}
.pharagraf {
  max-width: 264px;
  color: var(--CLOUD, #f4f4fd);
  /* Body */
  font-size: 16px;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
}
